* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-image: url("https://github.com/uh0908/tastydietcleanse/blob/main/%EF%BC%91.png?raw=true");
}

a {
  text-decoration: none;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
