body {
  background-image:url("https://github.com/uh0908/tastydietcleanse/blob/main/%EF%BC%91.png?raw=true");
  background-size:;
}

.box {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: yellow;
}
