.container1 {
    height: 5351px;
    background: url("https://github.com/uh0908/tastydietcleanse/blob/main/tasty%20diet%20cleans.png?raw=true");
    background-repeat:no-repeat;
    margin: 0 auto;
    background-position: top;
  }
